*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-main), serif;
    color: var(--text-color);
    margin: 0;
    line-height: 1.4;
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}
